html, body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#title {
    width: 100%;
    text-align: center;
    margin: auto;
    font-size: 45px;
}

#body {
    margin-top: 10%;
}

#form-container {
    width: 30%;
    margin: auto;
    text-align: center;
    border: 1px solid black;
    border-radius: 4px;
}

#widget-container {
    margin: 10%;
}

input {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input[type=text] {
    width: 50%;
}